[Unit]
Description=Check Biomine Control Center every 300s

[Timer]
OnBootSec=10
OnUnitActiveSec=10
AccuracySec=1ms

[Install]
WantedBy=timers.target
