[Unit]
Description=Check Biomine Control Center every 300s

[Timer]
OnBootSec=300
OnUnitActiveSec=300
AccuracySec=1ms

[Install]
WantedBy=timers.target
